* {
  margin: 0px;
}
.bgContainer {
  background-color: #152850;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  margin: 10px;
}
.input {
  height: 30px;
  width: 250px;
  outline: none;
}

.image {
  width: 300px;
  height: 300px;
  text-align: center;
}
.formContainer {
  height: 95vh;
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  padding: 20px;
}
.buttonEl {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  margin: 10px;
}
.error {
  color: red;
  text-align: center;
}
.card {
  background-color: #e0eefe;
  height: 95vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}
